dev:
  # The dynamodb table to store slack data
  SLACK_TABLE_NAME: slack-refer_slack

  # The DynamoDB table to store user settings
  USERS_TABLE_NAME: slack-refer_users

  # The DynamoDB table to store information about referred websites
  WEBSITES_TABLE_NAME: slack-refer_websites

  # The DynamoDB table to store information about referred websites
  CODES_TABLE_NAME: slack-refer_codes

  # Verification token
  SLACK_VERIFICATION_TOKEN: "xxxxxxxx"

  # Client ID - quotes required
  SLACK_CLIENT_ID: "xxxxxxxx.xxxxxxxx"

  # Client Secret - quotes required
  SLACK_CLIENT_SECRET: "xxxxxxxx"

  # OAuth access token
  OAUTH_ACCESS_TOKEN: ""